<div class="lists">
    <div class="lists-header">
        Task Lists
    </div>
    <div class="add-list" {{action "addList" model}}>Add New</div>
    <div class="list-container">
        {{#each model as |list index|}}
            {{#unless index}}
                <div class="list active">
                    {{list.name}}
                    {{partial 'card' list}}
                </div>
            {{else}}
                <div class="list">
                    {{list.name}}
                    {{partial 'card' list}}
                </div>
            {{/unless}}
        {{/each}}
    </div>
</div>
{{#if isShowComments}}
    <div class="comments">
        <div class="container-comments hide" {{action 'toggleComments'}}>
            <div class="arrow"></div>
            <div class="comment-card">
                <div class="face front">Show Comments</div>
                <div class="face back">Hide Comments</div>
            </div>
        </div>
        <div class="comments-container">
            <div>
                <h4 class="comments-title">Comments</h4>
                <button class="add-comment-button" {{action 'addComment' activeCard.comments}}> Add Comment</button>
            </div>
            {{#each activeCard.comments as |comment|}}
                <div class="each-comment">
                    <span class="desc-message">{{comment.message}}</span>
                    <span class="close" {{action 'deleteComment' activeCard.comments comment}}>x</span>
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}
